---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css">
{% capture reset_css %}{% include css/reset.scss %}{% endcapture %}
{{ reset_css | scssify }}
    </style>
    <style type="text/css">
{% capture discordian_css %}{% include css/discordian.scss %}{% endcapture %}
{{ discordian_css | scssify }}
    </style>
    <style type="text/css">
{% capture style_css %}{% include css/style.scss %}{% endcapture %}
{{ style_css | scssify }}
    </style>
    <style>
{% capture standalone_css %}{% include css/standalone.scss %}{% endcapture %}
{{ standalone_css | scssify }}
    </style>

</head>
<body>

<div class="container">

{% include discordian_clock.html %}

</div>

<script type="text/javascript">
{% include js/iosfix.js %}
</script>
<script type="text/javascript">
{% include js/jquery.min.js %}
</script>
<script type="text/javascript">
{% include js/bootstrap.min.js %}
</script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    $('.discordian-to-std-scale [data-toggle="tooltip"]').tooltip({
        container : '.discordian-to-std-scale'
    });
});
</script>

</body>
</html>
